body {
     background-color: #fee;
 }

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

h1 {
  text-align: center;
  color: #766;
}

#home-selfie {
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

#fact-container {
  margin-top: 20px;
}

#comments-container {
  margin-top: 20px;
}

.comment {
  background-color: #fdd;
  padding: 5px 10px;
}

#caption-container {
  left: 75px;
  position: fixed;
  text-align: center;
  top: 400px;
  width: 200px;
}

#sidebar {
  background-color: #fdd;
  font-size: 150%;
  height: 125px;
  left: 100px;
  position: fixed;
  top: 200px;
  text-align: center;
  width: 150px;
}

#sidebar a {
  padding: 10px 20px;
  vertical-align: middle;
}

a {
  color: #988;
}

a:hover {
  color: lightgray;
}

ul {
    list-style-type: circle;
}

td, tr {
    border: 1px solid black;
}

.intam, .bllrmltn {
    font-size: 120%;
    padding: 15px;
}

th {
    padding: 10px;
}

#gallery {
  margin-left: 300px;
  margin-right: 150px;
}

#gallery img {
  height: 500px;
}

#gallery img:hover {
  opacity: 70%;
}
.patterns {
  height: 500px;
}

button {
    background-color: #fdd;
    font-size: 20px;
    padding: 5px 5px;
}

.tooltip {
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
}

.tooltip .tooltip-text {
  background-color: black;
  border-radius: 6px;
  color: #fff;
  left: 125%;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 120px;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
#map {
  height: 400px;
}